body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.gameGrid {
  display: flex;
}

.gridColumn {
  display: flex;
  flex-direction: column;
}

.gridSquare {
  background-color: black;
  height: 4rem;
  width: 4rem;
  border: 1px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gameBall {
  border: 2px solid blue;
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ball0 {
  display: none;
}

.nextBallContainer {
  padding: 2rem;
}
